<div class="menu">
	<div class="nav">
		<div class="nav-elements">
			<ul>
				<li><a href='#'>ISIMINTI PROFILIAI</a></li>
				<li><a href='#'>PAIESKOS ISTORIJA</a></li>
				<li><a href='#'>ZINUTES</a></li>
				<li><a href='#'>VERTINIMAS</a></li>
				<li class="pop-up-text"><a href='#' id="log-pop">PRISIJUNGTI</a></li>
				<li class="pop-up-text"><a href='#' id="reg-pop">REGISTRUOTIS</a></li>
			</ul>
		</div>
		<span class="popup-button login-button"><%= image_tag('pop-up-icon.png') %></span>
		<span class="popup-button reg-button"><%= image_tag('pop-up-icon.png') %></span>
	</div>
	<div class="logo-n-search">
		<div class="logo-container">
			<div class="logo">
				<%= link_to image_tag('menu/logo.png'), {action: 'index', controller: 'welcome'} %>
			</div>
		</div>
		<div class="search-container">
			<div class="search">
				<!-- <%= image_tag 'menu/search-icon.png' %> -->
				<input type="text" name="search" placeholder="Search..">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('#log-pop').hover(function() {
		$('.login-button').children().css('height', '75px');
  }, function() {
    $('.login-button').children().css('height', '60px');
  });

  $('#reg-pop').hover(function() {
		$('.reg-button').children().css('height', '75px');
  }, function() {
    $('.reg-button').children().css('height', '60px');
  });
 });
</script>