<div class="mobile-body">
	<div class="mobile-search">
		<input type="text" name="search" placeholder="Search..">
	</div>
	

	<div class="mobile-row">
		<div class="mobile-square-container">
			<%= link_to image_tag('avatar.png'), user_path %>
		</div>
		<span style="width: 5%;float: left; height: 100%;"></span>
		<div class="mobile-square-container">
			<%= link_to image_tag('avatar.png'), user_path %>
		</div>
		<span style="width: 5%;float: left; height: 100%;"></span>
		<div class="mobile-square-container">
			<%= link_to image_tag('avatar.png'), user_path %>
		</div>
	</div>
</div>

