<div class="submenu-container">
	<div class="submenu-elements">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
<!-- 
<%= image_tag 'submenu/clothes.png' %>
 -->