<div class="outer-row">
	<div class="row">
		<div class="students">
			<div class="student"></div>
			<div class="student"></div>
			<div class="student"></div>
			<div class="student"></div>
			<div class="student"></div>
		</div>
	</div>
	<div class="row schools-row">
		
	</div>
</div>