.menu {
	width: 100%;
	height: 19vh;
/*	border-bottom: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 3px;*/
	min-height: 130px;
}

.nav {
	height: 30%;
	border: #FFFFFF;
	position: relative;
}

.logo-n-search {
	margin-top: 0;
	height: 60%;
/*	border-top: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1px;*/
	position: relative;
	min-width: 1080px;
}

.nav-elements {
	position: absolute;
  bottom: 0;
  top: 0;
  right: 100px;
}

.nav-elements ul {
	list-style-type: none;
}

.nav-elements li {
	color: #E3E4E5;
	padding: 0 20px 0 20px;
	display: inline;
	margin-top: 10px;
}

.nav-elements a {
  text-decoration: none;
  font-size: 11px;
  color: #E3E4E5;
}

.pop-up-text a {
	z-index: 9001;
	color: #141722;
	position: relative;
}

.popup-button img {
	z-index: 9000;
  width: 105px;
  height: 60px;
  position: absolute;
}

.login-button img {
	right: 220px;
}

.reg-button img {
	right: 105px;
}

.logo-container {
	position: absolute;
	height: 100%;
	width: 20%;
	left: 100px;
}

.logo {
  height: 100px;
  width: 100%;
  text-align: center;
}

.logo img {
	height: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-container {
	position: absolute;
	height: 120%;
	width: 55%;
	right: 150px;
}

.search img {
	height: 30px;
}

.search input {
	position: absolute;
	color: #E3E4E5;
	width: 60%;
	height: 40px;
	bottom: 20px;
	border: transparent;
  font-size: 16px;
  background-color: transparent;
  background-image: url(menu/search-icon.png);
  background-position: 10px 8px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  padding: 0 0 0 40px;
  border-bottom: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input:focus {
	outline: none;
	width: 100%;
}