.mobile-container {
	/*border: red solid;*/
	width: 100%;
	height: 130px;
	position: absolute;
	min-width: 350px;
}

/* NAVIGATION */

.mobile-logo {
	margin-top: -5px;
}

.mobile-meniu {
	/*border: red solid;*/
	width: 99%;
	bottom: 0;
	height: 50px;
	position: absolute;
	background-color: #FFFFFF;
  border-style: dashed;
  border-color: black;
  border-width: 2px;
  display: inline-block;
}

.mobile-meniu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mobile-meniu li {
	display: inline;
	width: 13%;
	height: 100%;
	float: left;
  margin-left: 12px;
}

.meniu-item img {
  padding-top: 10px;
  padding-left: 10px;
  height: 60%;
  width: 60%;
}

/* BODY */

.mobile-body {
  width: 95%;
  position: absolute;
  top: 140px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 350px;
}

/* SEARCH */

.mobile-search {
	padding-bottom: 20px;
}

.mobile-search input {
  width: 90%;
  color: #E3E4E5;
  height: 40px;
  bottom: 20px;
  border: transparent;
  font-size: 16px;
  background-color: transparent;
  background-image: url(menu/search-icon.png);
  background-position: 10px 8px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  padding: 0 0 0 40px;
  border-bottom: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* SQUARES */

.mobile-row {
	width: 100%;
	height: 110px;
	padding-bottom: 20px;
}

.mobile-square-container {
	height: 100%;
	/*width: 100px;*/
	width: 30%;
	float: left;
}

.mobile-square-container img {
	height: 100%;
	width: 100%;
}