body {
	margin: 0 !important;
	background-color: #141722;
	height: 100vh;
}

.main-mobile {
	display: none;
}

* {
  font-family: Calibri, sans-serif;
}

.container {
	min-height: 500px;
	min-width: 1080px;
	margin-top: -20px;
}

@media screen and (max-width: 400px) {
  .main {
    display: none;
  }

  .main-mobile {
  	display: block;
  }
}