.submenu-container {
	position: absolute;
	z-index: 1;
	width: 140px;
	left: 12%;
	margin-top: -2.5vh;
	height: 73.5vh;
	background-color: #FFFFFF;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
}

.submenu-elements ul {
	list-style-type: none;
}