.container {
	height: 70vh;
}

.outer-row {
	height: 50%;
	width: 100%;
}

.row {
	background-image: url('welcome/row-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  margin: 40px 20px;
}

.students-row {

}

.schools-row {
	margin: -30px 20px;
}