.container {
	height: 70vh;
}

.outer-row {
	height: 50%;
	width: 100%;
}

.row {
	background-image: url('welcome/row-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  margin: 40px 20px;
}

.schools-row {
	margin: -30px 20px;
}

.students {
	border: red solid;
	height: 100%;
	width: 70%;
	margin: 20px 0 20px 25%;
}

.student {
	height: 150px;
	width: 16%;
	border: black solid;
	padding: 20px;
	float:left;
}